# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/dist/*
out
gen
res.json
/node_modules/
/view
/dist/
view.html