
.xfocus_07{width:770px;height:495px; position:relative;}
.xfocus_07 .view{position:absolute;z-index:1;width:100%;height:100%; overflow:hidden;}
.xfocus_07 .view li{position:absolute;top:0;left:0;display:none}
.xfocus_07 .view li.current{display:block;
}
.xfocus_07 .view li img{width:770px;height:495px;}
.xfocus_07 .text li.current{ display:block;}
.xfocus_07 .text{position: absolute;bottom: 0;left:0;z-index:2;width: 100%;padding:20px 0 8px 0;height: 72px;overflow:hidden;font: bold 22px/72px 'microsoft yahei';color: #fff;text-indent: 26px;background: url(http://icon.xcar.com.cn/2014/drive/images/png24bg.png?2014) repeat-x center top;_background: none;_filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#00000000', endColorstr='#CC000000',gradientType='0');}
.xfocus_07 .text a{color:#fff;}
.xfocus_07 .text li{ display:none;}
.xfocus_07 .prev1 span,.xfocus_07 .next1 span{display:inline-block;background-image:url(http://icon.xcar.com.cn/2014/template/images/slider-arrows.png);background-repeat:no-repeat;width:38px;height:88px}

.xfocus_07 .prev1{left:0px}
.xfocus_07 .prev1 span{background-position:-2px 0}
.xfocus_07 .next1{right:0px}
.xfocus_07 .next1 span{background-position:-36px 0}
.xfocus_07 .prev1,
.xfocus_07 .next1{display:none;position:absolute;z-index:5;top:50%;width:38px;height:88px;margin-top:-44px;cursor:pointer;border:1px solid #222;background-color:#000;opacity:.6;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000',endColorstr='#99000000')}
.xfocus_07 .prev1,
.xfocus_07 .next1{filter:alpha(opacity=60);background-color:#000;opacity:.6;}







.xfocus_07 .prev1:hover,.xfocus_07 .next1:hover{background-color:#000;opacity:1;filter:alpha(opacity=100);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ff000000',endColorstr='#ff000000')}







/*.xfocus_07 .next:hover{height:54px;text-decoration:none;}*/
.xfocus_07 .prev1 em{color:#fff;font:normal 12px/16px Arial;position:absolute;top:14px;right:27px;}
.xfocus_07 .prev1 i{color:#fff;font:normal 12px/16px Arial;position:absolute;top:27px;left:63px;}
.xfocus_07 .next1 em{color:#fff;font:normal 12px/16px Arial;position:absolute;top:15px;right:62px;}
.xfocus_07 .next1 i{color:#fff;font:normal 12px/16px Arial;position:absolute;top:28px;left:27px;}
.xfocus_07 .prev1{left:1px}
.xfocus_07 .prev1 span{left:6px;top:42px}
.xfocus_07 .next1{right:1px}
.xfocus_07 .next1 span{right:7px;top:42px;}
.xfocus_07 .slider{position:absolute; z-index:3;bottom:7px;right:26px;width:auto;text-align:center;}
.xfocus_07 .slider li{ display:inline-block;margin:0 3px;*display:inline;*zoom:1; width:22px;height:5px;background-color:#555;cursor:pointer}.xfocus_07 .slider li{*display:inline; overflow:hidden;}
.xfocus_07 .slider li.current{background-color:#d5d5d5;}
.text ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-pp ul li{
    width: 100%;
    height: 77px;
    background: #000000;
    text-align: center;
    line-height:77px ;
}
.banner2{
    position: absolute;
}