
.xfocus_small{position:relative;width:480px;height:320px;}
.videoSmall{width:480px;height:320px;margin:0 auto;float:none;}
.videoSmall .prevSmall span,.videoSmall .nextSmall span{display:inline-block;background-image:url(http://icon.xcar.com.cn/2014/template/images/slider-arrows.png);background-repeat:no-repeat;width:28px;height:88px}
.videoSmall .prevSmall,.videoSmall .nextSmall{display:none;position:absolute;z-index:5;top:50%;width:28px;height:88px;margin-top:-44px;cursor:pointer;border:1px solid #222;background-color:rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000',endColorstr='#99000000')}

:root .videoSmall .prevSmall,:root .videoSmall .nextSmall{filter:none;background-color:rgba(0,0,0,0.6)}
.videoSmall .prevSmall:hover,.videoSmall .nextSmall:hover{background-color:rgba(0,0,0,1);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ff000000',endColorstr='#ff000000')}
:root .videoSmall .prevSmall:hover,:root .videoSmall .nextSmall:hover{filter:none;background-color:rgba(0,0,0,1)}
.videoSmall .prevSmall{left:0px}
.videoSmall .prevSmall span{background-position:-5px 0}
.videoSmall .nextSmall{right:0px}
.videoSmall .nextSmall span{background-position:-41px 0}
.videoSmall .view{position:relative;width:100%;height:100%;margin:0 auto;overflow:hidden;}

.videoSmall .text{position:relative;height:39px;overflow:hidden}
.videoSmall .view li{position:absolute;top:0;left:0;display:none;width:100%;height: 100%;}
.videoSmall .view li.current{display:block;}

.videoSmall .text li{display:none;height:38px;background-color:#f8f8f8;font:normal 14px/38px 'Microsoft YaHei';text-align:center}

.videoSmall .slider{position:absolute;z-index:12;top:195px;width:350px;height:12px;text-align:center}
.videoSmall .slider li{display:inline-block;width:11px;height:11px;overflow:hidden;margin:0 3px;background:url(http://icon.xcar.com.cn/2013/index/images/focus_slider1.png) no-repeat;_background:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://icon.xcar.com.cn/2013/index/images/focus_slider1.png");cursor:pointer}.videoSmall .slider li{*display:inline;}
.videoSmall .slider .current{background:url(http://icon.xcar.com.cn/2013/index/images/focus_slider2.png) no-repeat;_background:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://icon.xcar.com.cn/2013/index/images/focus_slider2.png")}

.box-contentSmall{display: none;}
.singalvideoSmall{display:none;width:100%;height:100%;}